@model Ogrenci

<form asp-controller="Ogrenci" asp-action="Ekle" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OgrenciAdi"></label>
        <input asp-for="OgrenciAdi" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="OgrenciSoyadi"></label>
        <input asp-for="OgrenciSoyadi" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="SinifId">
            <select name="SinifId" class="form-control" asp-items="@(new SelectList(ViewBag.sinifListe, "Value", "Text"))">
                <option value=""> Sınıfınızı Seçiniz</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" style="margin-top:5px;">Kaydet</button>
    </div>
</form>